apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: apps
resources:
  - _common
  - address-book
patches:
  - target:
      group: helm.toolkit.fluxcd.io
      version: v2
      kind: HelmRelease
      namespace: apps
    patch: |-
      - op: add
        path: /spec/values/env
        value: dev
      - op: add
        path: /spec/values/gcp
        value:
          projectName: "dev-uta-ng-stack"
          projectKey: "dev-uta-ng-stack"
          region: "europe-west4"
          product: "uta"
